<ion-view>
    <ion-content scroll="false">
        <img class="shadow" src="img/shadow.png" alt=""/>
        <img class="goback" src="img/back.png" ng-click="goBack()" alt=""/>
        <div class="wall_content">
            <p>让·丁格利（Jean Tinguely1925-1991）是20世纪下半叶世界最著名的瑞士雕刻家及实验艺术家，以机械式动态雕刻著称。他与同样出生于瑞士的 阿尔贝托－贾科梅蒂 （Alberto Giacometti）齐名。</p>

            <p>他的创作是一全新的革命，完全脱离艺术创作史上原有的模式。他既不雕也不塑，完全利用废物如：生锈的铁片、铁管、齿轮、车轮、塑胶管、锅盖、铁线……，组织这些几乎是垃圾、无生命、无色彩的冷性材质，幻化出一种童稚般的立体空间。由机械式的转动，产生无比的变化与生命，化腐朽为神奇！</p>

            <p>让·丁格利（Jean Tinguely）是瑞士引以自豪的艺术家。他的设计冲满创造力，丰富多彩，蕴含哲理，他的这种特有的对事物和艺术的理解方式，创造出世界上独有的雕塑语言和雕塑思想。</p>

            <p>让·丁格利是20世纪最有争议的前卫艺术家，但是，在这里不得不提及的是和他同样有争议的前卫艺术家尼基·德·圣法尔（Niki de Saint Phalle，1930-2002）。他们数十年的爱情与艺术创作的传奇生涯，演绎了一个个让人难以忘怀的经典。</p>
        
        </div>
    </ion-content>
</ion-view>