<ion-view>
    <ion-content scroll="false">
        <img id="main_rang" src="img/rang/main.jpg" on-swipe-right="rangRight()" on-swipe-left="rangLeft()"/>
        <div class="backbt" id="back_rang" ng-click="goBack()"></div>
        <img class="file" id="file_rang" src="img/file.png" ng-click="goRang()" alt=""/>
        <div id="rang_screen_1">
            <div class="click" id="rang_1" name="screen_1"></div>
            <div class="click" id="rang_2" name="screen_2"></div>
            <div class="click" id="rang_3a" name="screen_3"></div>
        </div>
        <div id="rang_screen_2">
            <div class="click" id="rang_3b" name="screen_3"></div>
            <div class="click" id="rang_4" name="screen_4" ></div>
        </div>
        <div id="rang_screen_3">
            <div class="click" id="rang_5" name="screen_5"></div>
            <div class="click" id="rang_6" name="screen_6" ></div>
        </div>
        <div id="rang_screen_4">
            <div class="click" id="rang_7" name="screen_6"></div>
            <div class="click" id="rang_8" name="screen_7" ></div>
            <div class="click" id="rang_9" name="screen_8"></div>
        </div>
    </ion-content>
</ion-view>