<ion-view>
    <ion-content scroll="false">
        <img class="shadow" src="img/shadow.png" alt=""/>
        <img class="goback" src="img/back.png" ng-click="goBack()" alt=""/>
        <div class="wall_content">
            <p>“当代艺术-Contemporary Art”在时间上指的是今天的艺术，在内涵上也主要指具有现代精神和具备现代语言的艺术。之所以现在的展览普遍用“当代艺术”的提法，是因为用“现代艺术”的名词容易与已有过的“现代派艺术”混淆，同时，“当代艺术”所体现的不仅有“现代性”，还有艺术家基于今日社会生活感受的“当代性”，艺术家置身的是今天的文化环境，面对的是今天的现实，他们的作品就必然反映出今天的时代特征。</p>
            <p>自20世纪开始，艺术的发展历经质变的转换，脱离了之前既定的审美模式与创作手法的新艺术，愈来愈多地融入了社会性、体现着实验性、表达着先锋性。</p>
            <p>当代艺术注重新的观念，体现边缘文化，表达非中心思想的艺术艺术倾向，提倡女性主义，后殖民主义，少数民族艺术，黑人艺术，同性恋艺术、涂鸦艺术，行为艺术，表演艺术，街头艺术，电脑艺术等等，这些新现象在过去都不是主流艺术。美国当代艺术因政治诉求而仍以观念为主导，艺术视野更加开阔，观念的表述也不再局限于视觉艺术。由此，在21世纪头十年的中期，以美国当代艺术为代表的西方艺术得以第二次重新定义“艺术”的概念，并与欧洲当年的达达主义和杜尚的第一次重新定义遥相呼应。</p>
            <p>当代艺术使更多的人们对当代社会产生了怀疑和迷惘，艺术家们对社会和文化进行深入的探索和认识，反对现有的秩序，反对现存秩序得以建立和维持的中心主义。当代艺术的变迁方向是注重新的观念，体现边缘文化，表达非中心思想的艺术艺术倾向。</p>
        </div>
    </ion-content>
</ion-view>