<ion-view>
    <ion-content scroll="false">
        <img class="shadow" src="img/shadow.png" alt=""/>
        <img class="goback" src="img/back.png" ng-click="goBack()" alt=""/>
        <div class="wall_content">
            <p>如果作为一个术语的当代艺术，为我们带来了某种让人感动或震惊或令我们产生怀疑的东西，这是因为它反映了某些新的、让人震惊的或实验的东西。如果它不能实现这些目标，那么它将失去它作为特殊概念的意义。另外，它可以指向今天创作的任何东西，所以，什么是真正的当代艺术就在于对它的最终的、普遍肯定的判断，这不是一般公众的判断，而是一些相关参与者的判断，如艺术家、批评家、收藏家和美术馆机构。</p>
            <p>如丹托所强调的，艺术世界自从1960年代以来已经被形成，其特征就是它独立运行的体制与机制以及理论对它的支持。当代艺术是发生在艺术世界领域内的艺术。如果我们想把它分离开这样的艺术世界，那么我们就会否定许多东西是艺术。但是作为一般的艺术观念的演化，作为独立实体的艺术的意义就在于它的创造性，即在于它的内容或方法或媒介或观念上的创造性。就创造与想象力而言，我们应该提倡一种我们已经被塑造的感官（如视觉、触觉、嗅觉、听觉）所不熟悉的东西。所以，如果今天的艺术拥有最大限度的意义和价值，那么这是它的创造性和实验性使得它不同，使得它鲜明，使得它具有影响。中国过去一些年的情况就是如此。但是在另一方面，中国的艺术成为热门，部分原因是市场的影响。当然，我们不否认市场是艺术世界的几个重要方面之一，但是我们仍然要强调艺术自身的重要性。</p>
            <p>今天的艺术不是伦理与道德的仲裁者，不应该和虚假挂在一起，它揭示着我们所忽略或所错过或故意隐藏的真实。艺术的用途可以被不同使用者运用，有国家、有集体、有个人，当相关的利益攸关者规定了它时，艺术就不再是一个孤立的实体。在这种上下文中，艺术将系于它的主体，后者决定了当代艺术的定义是什么。但是，仍然有一些其他的力量渴望人类及其环境被遮蔽的力量，于是，这样的力量就创造了鲜活的不同艺术，它们可以被叫做当代艺术或具有独立性的什么——独立性是人类现代历史以来最珍贵的价值，如果“当代艺术”是一杆旗帜，独立价值与意义就应得到肯定。</p>
            <p>对于门外汉而言，当代艺术就如同埃及的象形文字般难以理解。画廊与美术馆的参观者经常会面对着复杂而多样化的艺术形式，如贫穷艺术、新几何、录像装置等；诡异的名词比如：符号学、化外艺术与挪用等，更会造成观者的惊讶，从而打破画廊宁静宜人的氛围。许多艺评人偏爱在文章中使用如谜般的艰涩文词，让读者如坠入云里雾里。反讽的是，在这个当代艺术魅力有增无减的时代里，人们对它的兴趣远超过对它的理解。</p>
            <p>当代艺术的表现形式具备多元化的特点。由于艺术形式分类的原则和角度不同，大的艺术形式大致可以分为：以艺术形象存在方式为依据，可以将艺术区分为时间艺术、空间艺术和时空艺术。时间艺术：音乐、文学；空间艺术：建筑、雕塑、绘画；时空艺术：戏剧、影视、舞蹈；以艺术形象的审美方式为依据，可将艺术分为听觉艺术、视觉艺术、和视听艺术。听觉艺术：音乐；视觉艺术：建筑、雕塑、绘画、书法，盆景，餐饮；视听艺术：戏剧、影视；以艺术作品的内容特征为依据，可以将艺术分为表现艺术和再现艺术。表现艺术：音乐、舞蹈、建筑、书法；再现艺术：绘画、雕塑、戏剧、电影；以艺术作品的物化形式为依据，可以将艺术作品分为动态艺术和静态艺术。动态艺术：音乐、舞蹈、戏剧、影视；静态艺术：绘画、书法、雕塑、建筑、工艺美术等。</p>
            <p>例如博伊斯的众多作品如《油脂椅》、《驮包》、《奥斯威辛圣骨箱》等等，可以看出他的创作材料大多为动物、毛毡、油脂、蜂蜜等等，这些废弃的材料看上去都是从遭受创伤的国家废虚里提取的。用这些材料，特别是毛毡和动物油脂，博伊斯营造了一种脆弱的气氛，容易引起一种悲怆的历史回忆。他的可怕的《奥斯威辛圣骨箱》便是一个恰当的例子，在玻璃盒中，有这样一批物体：一个破电热盘中的几块脂肪、腐朽的腊肠，象是模仿马槽中的基督的一只躺在干草桶中的干瘪死老鼠、一幅有密集的碉堡的集中营雕刻和一个小孩的素描，除此之外，再无其它物品。这就象是从历史记录中取出的画面，充满了悲凉的感觉。</p>
            <p>当代艺术的艺术性由于其语境的特殊，已经溶入到艺术表现的多元汇合中，我们无法用一种方法或形式去指涉艺术性是一种形式关注，它恰恰是超越于形式的心理形式、观念形式、情感形式，是由于艺术历史文化的建构和积淀，艺术已经被赋予的形式含义灌注到了艺术家的作品表现中。这一点是许多艺术家追求自我、突出其艺术身份时不能忽略的。由于我们面前有了一个强大的艺术历史参照物，对艺术概观和心理契合的把握，成为艺术家能否提升出自己的艺术性表现的关键。这时的艺术性事实上已转换为文化性，也就是艺术性不再仅仅是单纯的形式关照，谈当代艺术的艺术性，不谈当代艺术的文化性和艺术家身份含义，是无法凸现他的艺术性的。</p>
        </div>
    </ion-content>
</ion-view>