<ion-view>
    <ion-content scroll="false">
        <img class="shadow" src="img/shadow.png" alt=""/>
        <img class="goback" src="img/back.png" ng-click="goBack()" alt=""/>
        <div class="wall_content">
           <p>威廉·德·库宁，简称德·库宁，荷兰籍美国画家，抽象表现主义的灵魂人物之一，新行动画派的大师之一。在他创作生涯中，人体成为其绘画创作的主体，加以风景及书写的符号来发展他的抽象世界。他将欧洲立体主义、超现实主义与表现主义的风格融于自己大而有力的绘画行为之中，把激进艺术的理念融化在自己的艺术世界里。即使是极端的绘画作品也具有艺术美感，试图唤醒人们心中一种与所有生命事物的内在关联感。</p>
            <p>德库宁的创作，集中于抽象、女人和男人这三个系列，而其中，尤以女人系列最出名，它实际上几乎与他的绘画生涯相始终。他把绘画看作体验、表达、实现自由的过程，他以舞蹈表演一般的在旁人看来近乎夸张的激情姿态从事绘画创作，在这一点上，他与波洛克的蹦蹦跳跳是相同的。在他的画面上，不论形象的或抽象的内容，都没有任何的约束，构图、空间、透视、平衡，等等传统绘画技法和审美观念一扫而空。他讨厌一切横加给绘画的束缚，运笔异常大胆，落笔果断坚决，迅猛有力。入选1955年威尼斯双年展的《挖掘》，评论指出，“色彩又明显地回到了绘画中，那种令人难忘的荷兰女性的粉红、白色和黄色。同时色彩也表示了某种甚至更为性感的东西，被劈开的人体开口处到处是红色，……色彩最终给那嵌入的钻石形状赋予一种少有的强度，在这幅画里，观众的眼睛与画中的眼睛融合到了一起。”</p>
            <p>威廉·德·库宁作为举世公认的抽象表现主义的杰出代表，德·库宁、罗特科（Mark Rothko）、波洛（Jackson Pollock）其画作已经渐渐地从市场走向博物馆，使得他们留存于市场的一小部分作品立刻身价倍增。诸如娱乐界大亨大卫·格芬曾以2.835亿美元的高价售出了他们3人的3幅作品。收藏界的新贵们喜欢德·库宁的作品，“德·库宁是这个市场的新罗斯科，但和罗斯科不同，德·库宁还有很多作品在市场上流通。”2006年，德·库宁的12件作品以1.05亿元的高价列入全球20家最重要艺术大师作品拍卖行列。德·库宁是荷裔美籍抽象表现主义的灵魂人物之一，在他创作生涯中，人体成为其绘画创作的主体，加以风景及书写的符号来发展他的抽象世界。他将欧洲立体主义、超现实主义与表现主义的风格融于自己大而有力的绘画行为之中，把激进艺术的理念融化在自己的艺术世界里。即使是极端的绘画作品也具有艺术美感，试图唤醒人们心中一种与所有生命事物的内在关联感。</p>
            <p>作为一代艺术大师，德·库宁以多样的艺术语言色彩，素描、雕塑等形式留给我们观者心灵与心灵的沟通与感悟，艺术总在经历巨大的变化，但是正如德·库宁所言，艺术是一种“理解生活”的工具。</p>

        </div>
    </ion-content>
</ion-view>