<ion-view>
    <ion-content scroll="false">
        <img id="main_weilian" src="img/weilian/main.jpg" on-swipe-right="weilianRight()" on-swipe-left="weilianLeft()"/>
        <div class="backbt" id="back_weilian" ng-click="goBack()"></div>
        <img class="file" id="file_weilian" src="img/file.png" ng-click="goWeilian()" alt=""/>
        <div id="weilian_screen_1">
            <div class="click" id="weilian_1" name="screen_1"></div>
            <div class="click" id="weilian_2" name="screen_2"></div>
        </div>
        <div id="weilian_screen_2">
            <div class="click" id="weilian_3" name="screen_2"></div>
            <div class="click" id="weilian_4" name="screen_3" ></div>
        </div>
        <div id="weilian_screen_3">
            <div class="click" id="weilian_5" name="screen_4"></div>
            <div class="click" id="weilian_6" name="screen_5" ></div>
        </div>
        <div id="weilian_screen_4">
            <div class="click" id="weilian_7" name="screen_5"></div>
            <div class="click" id="weilian_8" name="screen_6" ></div>
            <div class="click" id="weilian_9" name="screen_7"></div>
        </div>
    </ion-content>
</ion-view>