<ion-view>
    <ion-content scroll="false">
        <img id="main_yuese" src="img/yuese/main.jpg" on-swipe-right="yueseRight()" on-swipe-left="yueseLeft()"/>
        <div class="backbt" id="back_yuese" ng-click="goBack()"></div>
        <img class="file" id="file_yuese" src="img/file.png" ng-click="goYuese()" alt=""/>
        <div id="yuese_screen_1">
            <div class="click" id="yuese_1" name="screen_1"></div>
            <div class="click" id="yuese_2" name="screen_2"></div>
            <div class="click" id="yuese_3a" name="screen_3"></div>
        </div>
        <div id="yuese_screen_2">
            <div class="click" id="yuese_3b" name="screen_3"></div>
            <div class="click" id="yuese_4" name="screen_4" ></div>
        </div>
        <div id="yuese_screen_3">
            <div class="click" id="yuese_5" name="screen_5"></div>
            <div class="click" id="yuese_6" name="screen_6" ></div>
        </div>
        <div id="yuese_screen_4">
            <div class="click" id="yuese_7" name="screen_7"></div>
        </div>
    </ion-content>
</ion-view>