<ion-view>
    <ion-content scroll="false">
        <img class="shadow" src="img/shadow.png" alt=""/>
        <img class="goback" src="img/back.png" ng-click="goBack()" alt=""/>
        <div class="wall_content">
            <p>约瑟夫·博伊斯(Joseph Beuys)，德国著名艺术家，以雕塑为其主要创作形式。他在七十年代享受着政治预言者完美名誉的一位美术家。他作为雕塑家、事件美术家、“宗教头头”和幻想家，变成了后现代主义的欧洲美术世界中的最有影响的人物。这在某种程度上是由于他那种具有以赛亚精神的仁慈性格。在博伊斯看来，暴力是一切罪恶的根源，他反对以暴力去争取和平。而艺术则被他认为具有革命潜力，艺术创新是促进社会复兴的无害的乌托邦。博伊斯正是这样试图用艺术去重建一种信仰，重建人与人，人与物以及人与自然的亲和关系。</p>

            <p>作为一个政治美术家，博伊斯喜欢一种无所不包的和隐喻的含糊笼统，因而他的作品充满了隐喻。在《奥斯威辛圣骨箱》这件作品给我们展示了一个离奇古怪的场景：破电热盘中的几块脂肪、腐朽的腊肠同死老鼠以及小孩、有密集碉堡的集中营之间到底有什么联系呢？在这其中隐藏了一种信仰，那只像是模仿马槽中的基督的干瘪死老鼠，象征着灵魂的化身，正如博伊斯所说：“马、牡鹿和野兔等动物的形象总是不断出现这些形象自由地额从一个存在的层面穿行到另一个存在层面，它象征着灵魂的化身，或与各种宗教有关的精神存在的世俗形式。”食物同死老鼠向我们提出一个问题：既然有食物又为什么会有死亡呢？可见饥饿不是造成死亡的原因，正是战争导致了一切，那有密集碉堡的集中营不正回答了这一问题吗？在这里博伊斯用艺术再现了暴力造成的后果，他呼唤和平，呼唤被物质利益所蒙蔽了的良心，在他认为只有恢复人与人之间的关爱关系才会迎来真正的和平。</p>

            <p>博伊斯曾说过：艺术要生存下去，也只有向上和神和天使，向下和动物和土地连结为一体时，才可能有出路。”他认为人应该保护大自然，并与动物结为一体。博伊斯始终认为作为黄教僧的美术家和作为图腾的动物之间有一种特殊关系，他表现这种信仰的最著名的形象是1965年的事件作品《如何向死兔子解释图画》。　在创作时，博伊斯坐在一间空屋里，周围是熟悉的感觉介质：脂肪、铁丝和木料，他的头上涂了蜂蜜，脸上覆盖着金箔，使他看上去更象一个巫师，一个用创造奇迹，为充满了贪婪和暴力的邪恶世界带来了温暖的救世主。博伊斯头涂蜂蜜，怀抱死野兔，这正暗示了他向上和神，向下和动物和地已连结为一体。此外，蜜蜂是勤劳的象征，它们从不随意蛰人，是和平的拥护者，博伊斯认为人应该学会蜜蜂的勤劳，热爱和平，而不是通过不正当的手段获取不正当的利益。</p>

            <p>博伊斯作为一个创造了许多令人难忘的形象的发明家，和把这些形象贯穿起来的装配家，在欧洲是无人能敌的。他用他那独特的方式向人们“传道”，正如耶稣当年传道一样：“不可杀人，不可奸淫，不可偷盗，不可作假见证，当孝敬父母，当爱人如己。”</p>
        </div>
    </ion-content>
</ion-view>