<ion-view>
    <ion-content scroll="false">
        <img class="shadow" src="img/shadow.png" alt=""/>
        <img class="goback" src="img/back.png" ng-click="goBack()" alt=""/>
        <div class="wall_content">
            <h2>中国写实画派</h2>
            <h3>画派简介</h3>
            　　<p>中国写实画派，最初是由艾轩、杨飞云、王沂东，发起成立了“北京写实画派”，当时共13人，后来陈逸飞加入其中。在接受陈逸飞的建议后，于2005年3月，正式更名为“中国写实画派”，这支队伍，集合了中国油画创作的精英。纵观他们的作品，风格各异：陈逸飞的作品，画面中弥漫着淡淡的、略带些忧伤的宁静，向人们传递着中国传统的美感。无论是描绘江南水乡，还是生动传神的女子肖像，无不淋漓尽致地体现出画家运用西方绘画技巧，赋予作品中国传统的文化精神。以西藏山水、人物为题材，在当代中国写实油画画坛享有盛誉的艾轩，始终用含蓄手法，借人、借景为依托，巧妙地把孤寂的诗人一般的抒情与神秘感美妙地结合在一起，在乡土写实主义的画家群中，走出了一条独特之路，使得他的画一直充满了生命力。而杨飞云，则是用纯正细致的古典油画语言，向人们展示他在日常生活中发掘出的美，从而也注定了他成为中国当代写实油画中的代表性画家。透过王沂东的作品，是他在对西方古典绘画深入的探索和研究之时，又汲取了中国传统绘画和民间艺术的营养，最终形成了自己独特鲜明的绘画风格。他的作品题材大都来源于沂蒙山区的风土人情。在他的笔下，一情一景，一人一物，都来自沂蒙山区，看似简洁，简洁中却蕴藏着丰富的生活与艺术底蕴。陈衍宁的艺术，却是跨越了文化与历史，蕴涵一种宇宙的永恒的信息。一直坚持民族传统中的人文主义价值观。今天，写实主义已为美术界重新接受，并在众多方面向美术爱好者再现其恒久的魅力。他的写实带着一种敏感，一种对于表现浪漫主义世界观特微的敏感。而他对光与透视的无懈可击的处理，他那具有震撼力与想象力的构图，以及他对所绘客体神韵的洞悉力，都在告示人们：这是一种坚实完美的审美结合，一个跨越空间的视界。 </p>
            　　<p>尽管中国写实画派风格各异，但从最初成立的宣言和作品中，还是能够感知到他们主张的都是自己对理性精神和传统文化的崇尚，坚持从油画语言的‘本源’和油画内涵的‘本质’，吸收西方油画精华，融入本土深厚的文化内涵，并且始终遵循着这一线路，而且取得了骄人的成绩。</p>
            　　<p>他们已经成为新兴市场买家最感兴趣的艺术家，成为中国本土油画市场的主导者。不算陈逸飞曾经保持的中国当代画家拍卖最高成交记录，艾轩、杨飞云、王沂东等人，近几年的拍卖成交价格都是稳中求升。艺术市场的观察人士评论说：他们的创作，代表了中国油画市场的本土艺术品味，这是从土地、人情世故和政治社会更迭中产生的生活认知，也就是说，他们用他们的作品，唤起人们对往事的种种缅怀和追忆。从个体到团队，中国写实画派对于中国艺术，都极具建设性。</p>
            <br/>
        </div>
    </ion-content>
</ion-view>