<ion-view>
    <ion-content scroll="false">
        <img class="shadow" src="img/shadow.png" alt=""/>
        <img class="goback" src="img/back.png" ng-click="goBack()" alt=""/>
        <div class="wall_content">
            <center><h3>抽象表现主义</h3></center>
            <p>抽象表现主义(Abstract Expression)又称抽象主义，或抽象派。二战后直到20世纪60年代早期的一种绘画流派。"抽象表现主义"这个词用以定义一群艺术家所做的大胆挥洒的抽象画。他们的作品或热情奔放，或安宁静谧，都是以抽象的形式表达和激起人的情感。</p>
            <p>抽象表现主义认为艺术是抽象的，且主要是即兴创作的。从技巧上说，抽象派的最重要的前身通常是超现实主义。超现实主义强调的无意识，自发性，随机创作等概念，在后世被杰克逊·波洛克随意溅滴在地板上的油彩画作不断运用。一般认为，波洛克是以马克思·爱伦思特Max Ernst的作品为学习对象的。</p>
            <p>抽象派之所以能自成一派，原因在于它表达了艺术的情感强度，还有自我表征等特性。这跟表现主义反具象化美学，和欧洲一些强调抽象图腾的艺术学校：如包豪斯，未来派，或是立体主义等，都有呼应。抽象派的画作也往往具有反叛的，无秩序的，超脱于虚无的特异感觉。</p>
            <img class="content_img" src="img/ziliao/3/3/doc_1.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/3/doc_2.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/3/doc_3.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/3/doc_4.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/3/doc_5.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/3/doc_6.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/3/doc_7.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/3/doc_8.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/3/doc_9.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/3/doc_10.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/3/doc_11.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/3/doc_12.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/3/doc_13.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/3/doc_14.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/3/doc_15.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/3/doc_16.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/3/doc_17.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/3/doc_18.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/3/doc_19.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/3/doc_20.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/3/doc_21.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/3/doc_22.jpg" alt=""/>
            <br/>
        </div>
    </ion-content>
</ion-view>