<ion-view>
    <ion-content scroll="false">
        <img class="shadow" src="img/shadow.png" alt=""/>
        <img class="goback" src="img/back.png" ng-click="goBack()" alt=""/>
        <div class="wall_content">
            <center><h3>达达主义</h3></center>
            <p>达达主义艺术运动是1916年至1923年间出现于艺术流派的一种。达达主义是一种无政府主义的艺术运动，它试图通过废除传统的文化和美学形式发现真正的现实。达达主义由一群年轻的艺术家和反战人士领导，他们通过反美学的作品和抗议活动表达了他们对资产阶级价值观和第一次世界大战的绝望。</p>
            <p>关于“达达”一词的由来，历来众说纷纭。有些人认为这是一个没有实际意义的词，有一些人则认为它来自罗马尼亚艺术家查拉和詹可频繁使用的口头语“da, da”，在罗马尼亚语中意为“是的，是的”。最流行的一种说法是，1916年，一群艺术家在苏黎世集会，准备为他们的组织取个名字。他们随便翻开一本法德词典，任意选择了一个词，就是“dada”。在法语中，“达达”一词意为儿童玩耍用的摇木马。</p>
            <p>达达主义者的活动包括公开集会、示威、出版艺术及文学期刊等等。在达达主义者的出版物中，充斥着对艺术、政治、文化的热情洋溢的评述和见解。</p>
            <p>达达主义的主要特征包括：追求清醒的非理性状态、拒绝约定俗成的艺术标准、幻灭感、愤世嫉俗、追求无意、偶然和随兴而做的境界等等。这场运动的诞生是对野蛮的第一次世界大战的一种抗议。达达主义者们坚信是中产阶级的价值观催生了第一次世界大战，而这种价值观是一种僵化、呆板的压抑性力量，不仅仅体现在艺术上，还遍及日常生活的方方面面。达达主义运动影响了后来的一些文艺流派，包括超现实主义和激浪派。</p>
            <p>尽管达达主义在很大范围内得到了传播，但它终究是一个很不稳定的文艺思潮。到1924年，达达主义基本被新生的超现实主义所吞并，达达主义艺术家们也纷纷投奔其他流派，包括社会现实主义以及其他现代艺术流派。</p>
            <img class="content_img" src="img/ziliao/3/4/doc_1.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/4/doc_2.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/4/doc_3.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/4/doc_4.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/4/doc_5.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/4/doc_6.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/4/doc_7.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/4/doc_8.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/4/doc_9.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/4/doc_10.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/4/doc_11.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/4/doc_12.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/4/doc_13.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/4/doc_14.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/4/doc_15.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/4/doc_16.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/4/doc_17.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/4/doc_18.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/4/doc_19.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/4/doc_20.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/4/doc_21.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/4/doc_22.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/4/doc_23.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/4/doc_24.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/4/doc_25.jpg" alt=""/>
            <br/>
        </div>
    </ion-content>
</ion-view>