<ion-view>
    <ion-content scroll="false">
        <img class="shadow" src="img/shadow.png" alt=""/>
        <img class="goback" src="img/back.png" ng-click="goBack()" alt=""/>
        <div class="wall_content">
            <center><h3>立体主义</h3></center>
            <p>立体主义(Cubism)是西方现代艺术史上的一个运动和流派，又译为立方主义，1908年始于法国。立体主义的艺术家追求碎裂、解析、重新组合的形式，形成分离的画面－－以许多组合的碎片型态为艺术家们所要展现的目标。艺术家以许多的角度来描写对象物，将其置于同一个画面之中，以此来表达对象物最为完整的形象。物体的各个角度交错迭放造成了许多的垂直与平行的线条角度，散乱的阴影使立体主义的画面没有传统西方绘画的透视法造成的三维空间错觉。背景与画面的主题交互穿插，让立体主义的画面创造出一个二维空间的绘画特色。</p>
            <p>立体主义不同于未来主义等其它艺术运动，它没有任何用于表达自己创作纲领的“宣言”，只留下一些零散的言论。立体主义画家并没有系统的理论指导，只是每个人按着自己的思想去探索。毕加索说：“我要按照我的想像来作画，而不是根据我所看到的。”布拉克也说：“画家并不想构成一件奇闻轶事，而是要造成一种绘画的事实。”</p>
            <p>立体主义创作的主要特征，即在画面上将一切物体形象破坏和肢解，然后再加以主观的拼凑、组合，以求所谓立体地表现出物体的不同侧面。就是在平面上表现出二度和三度空间，甚至表现出肉眼看不见的结构和时间（四度空间）。与狂野的野兽派完全相反，它代表唯理的倾向它。认为印象派、野兽派的绘画都是在模拟自然，基本上是表现性的艺术作品。它的意义在于空间处理的新观念，它实际上是主宰20世纪艺术中抽象的和非具象的绘画流派的直接源泉。与表现主义风格的浪漫特性相比较，立体主义风格可以说是古典的和形式主义的。</p>
            <p>尽管立体主义受到世人的极端仇视，它毕竟具有划时代的意义。它成为未来几十年许多画家的灵感来源和与传统分手的标志。这场运动的生机勃勃、硕果累累，与毕加索和布拉克密切合作是分不开的。</p>
            <p>立体主义在反传统的口号下有浓厚的形式主义倾向。立体主义美术运动的鼎盛期虽仅有7年，但却造成极其广泛的影响，立体主义在艺术形式上的探索，在二十世纪的最初十年影响了全欧洲的艺术家，并激发了一连串的艺术改革运动，如未来主义、结构主义及表现主义等等，尤其鲜明地反应在对现代工艺美术、装饰美术、建筑美术等注重形式美的实用艺术领域不小的推动作用上。</p>
            <img class="content_img" src="img/ziliao/3/7/doc_1.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/7/doc_2.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/7/doc_3.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/7/doc_4.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/7/doc_5.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/7/doc_6.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/7/doc_7.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/7/doc_8.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/7/doc_9.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/7/doc_10.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/7/doc_11.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/7/doc_12.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/7/doc_13.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/7/doc_14.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/7/doc_15.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/7/doc_16.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/7/doc_17.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/7/doc_18.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/7/doc_19.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/7/doc_20.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/7/doc_21.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/7/doc_22.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/7/doc_23.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/7/doc_24.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/7/doc_25.jpg" alt=""/>
            <br/>
        </div>
    </ion-content>
</ion-view>