<ion-view>
    <ion-content scroll="false">
        <img class="shadow" src="img/shadow.png" alt=""/>
        <img class="goback" src="img/back.png" ng-click="goBack()" alt=""/>
        <div class="wall_content">
            <h2>星星美展</h2>
            <h3>简介</h3>
            　　<p>1979年9月27日是星星美展的第一次展览。展览上大胆的作品，让看惯了“文革”绘画的观众大吃一惊。“那些作品的表现手段是自由的，是我们从未看到过的。</p>　　 <p>星星之火可以燎原，诞生于上世纪70年代末80年代初的前卫艺术，在国际上产生了巨大影响。它提出了绘画要“重新回到创作的中心，回到构成创作的理由中”的理论。上世纪90年代以后，中国前卫艺术在国际市场大放异彩，令收藏家趋之若鹜，甚至登堂入室，成为国际知名美术馆的珍贵藏品，而点燃这个火种的，正是当年的“星星美展”。</p>
            <br/>
        </div>
    </ion-content>
</ion-view>