<ion-view>
    <ion-content scroll="false">
        <img class="shadow" src="img/shadow.png" alt=""/>
        <img class="goback" src="img/back.png" ng-click="goBack()" alt=""/>
        <div class="wall_content">
            <center><h3>表现主义</h3></center>
            <p>表现主义（Expressionism），现代重要艺术流派之一。20世纪初流行于德国、法国、奥地利、北欧和俄罗斯的文学艺术流派。1901年法国画家朱利安·奥古斯特·埃尔韦为表明自己绘画有别于印象派而首次使用此词。后德国画家也在章法、技巧、线条、色彩等诸多方面进行了大胆地“创新”，逐渐形成了派别。后来发展到音乐、电影、建筑、诗歌、小说、戏剧等领域。</p>
            <p>表现主义是艺术家通过作品着重表现内心的情感，而忽视对描写对象形式的摹写，因此往往表现为对现实扭曲和抽象化的这个做法尤其用来表达恐惧的情感，因此，主题欢快的表现主义作品很少见。从这个定义上来说马蒂斯·格吕内瓦尔德与格雷考的作品也可以说是表现主义的，但是一般来说表现主义仅限于20世纪的作品。</p>
            <p>表现主义作家每个人的创作个性不尽相同，我们很难将之统一于一种或几种模式之中。表现主义在艺术上实验色彩很强，在当时是不定型的。但经过半个多世纪时间沉淀，它的许多艺术主张和表现方法已经得到公认。表现主义文学在形式和技巧上所进行的广泛的探索和革新是有成效的，它在很大程度上改变了人们的观念，对现代文学理论和文艺美学作出了重要贡献。</p>
            <img class="content_img" src="img/ziliao/3/1/doc_1.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/1/doc_2.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/1/doc_3.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/1/doc_4.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/1/doc_5.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/1/doc_6.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/1/doc_7.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/1/doc_8.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/1/doc_9.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/1/doc_10.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/1/doc_11.jpg" alt=""/>
            <br/>
        </div>
    </ion-content>
</ion-view>