<ion-view>
    <ion-content scroll="false">
        <img class="shadow" src="img/shadow.png" alt=""/>
        <img class="goback" src="img/back.png" ng-click="goBack()" alt=""/>
        <div class="wall_content">
            <h2>乡土现实主义</h2>
            <h4>乡土现实主义在中国和美国有着不同的时代与特色 </h4>
            　　<p>20世纪30年代之后，现实主义艺术再度在美国兴起，这主要表现在壁画运动与乡土现实主义两个方面。乡土现实主义多表现为架上绘画，其中以E·霍珀、G·伍德以及A·怀斯等人为代表。他们都用写实的手法描绘出一种怀乡的愁绪和牧歌般情调，但同时也描绘了现代都市生活给普通百姓带来的孤独感。20世纪80年代初期,在逐渐复苏的中国画坛上出现了被称为"乡土现实主义"的油画。十年动乱的结束，文艺界开始了缓慢的解冻，改革开放的国策给中国油画艺术也带来了生机，一方面是随着国门打开，开始接受国外现代艺术的影响，另一方面也对传统重新进行清理。现实主义精神的回归带来了艺术风格的多样化，罗中立的油画《父亲》吸收了 60 年代在欧美流行的照相写实主义的手法，通过“父亲”的特写形象，表现中国农民的勤劳与艰辛；陈丹青的《西藏组画》一改苏联模式的现实主义风格，从 19 世纪法国现实主义画家米勒的油画技法中探索新的表现手法；何多苓的《春风已经苏醒》则是从美国当代现实主义画家怀斯的艺术中得到启发。他们大多以中国农村或少数民族生活为题材，在 80 年代初形成了乡土现实主义的绘画思潮。乡土现实主义是新时期艺术中最早具有现代意识的艺术思潮之一，它不仅在主题上反映了对现实的思考和对历史的反思，在风格上也反映出油画语言在技术上的独特魅力。新古典画风就是在对这种语言的技术特征重新审视的基础上逐步形成的。</p>
            <br/></div>
    </ion-content>
</ion-view>