<ion-view>
    <ion-content scroll="false">
        <img class="shadow" src="img/shadow.png" alt=""/>
        <img class="goback" src="img/back.png" ng-click="goBack()" alt=""/>
        <div class="wall_content">
            <h2>行为艺术</h2>
            <p>行为艺术，也称行动艺术、身体艺术、表演艺术等，它是在以艺术家自己的身体为基本材料的行为表演过程中，通过艺术家的自身身体的体验来达到一种人与物、与环境的交流，同时经由这种交流传达出一些非视觉审美性的内涵。 </p>
            　　<p>行为艺术是指在特定的环境和含义为依托而进行艺术创造活动的艺术形态。行为艺术相较于架上绘画、传统雕塑等艺术注重艺术行为的结果留存而言，它更是强调、注重艺术家的行为过程意义，是典型的具有表演性特征的过程艺术形态。作为行为艺术家，大多坚信——艺术家个人的艺术创造自由。</p>
            　　<p>其次，艺术泛化性特征。行为艺术家以自己特有的艺术创造行为过程展示，把传统艺术从高不可攀的、精英文化高度的神圣殿堂，摆放到了普通观众心目中的“不过如此”的“平淡”状态。同时，行为艺术强调的是行为过程，这在客观上，就把艺术注重行为结果的单一视域拓展到了充分认识、注重艺术行为过程的领域。从而有助于人们完整地认识人类艺术整体行为的，合乎艺术规律性和目的性的发展运动。最后，行为艺术具有平凡中的艺术深刻性特征。即是说，行为艺术是行为艺术家“有意味的”行为过程展示艺术。我们讲行为艺术打破了“艺术与非艺术”、“艺术与生活”的传统界线，行为艺术家曾邀请观众参与到其具体作品中去共同创造艺术作品。</p>
            <h3>中国当代的行为艺术从地下走到地上的开端</h3>
            　　<p>中国当代的行为艺术发端于1979年的星星美展。1989年中国现代艺术展上，行为艺术以不速之客的方式在展览会上亮相，立即引起新闻媒体的关注。由于行为艺术抢了现代艺术大展的风头，在圈内遭到排挤。随后，由于政治原因行为艺术家们一直处于地下状态。1995年，世界妇女大会期间，一位美国女艺术家，来到中国，周游了北京、上海之后，去了成都。当时成都市政府正在治理护城河，并且把这一工程作为政府的头号工程。这位既是行为艺术家同时也是一位环保主义者的贝特西·达蒙女士，通过成都市环保局，以保卫水的名义，在成都街头成功举行了一次行为艺术活动。由于这次活动有政府的支持，新闻媒体也放开了手脚，对公开出现在成都繁华地段的行为艺术进行了大肆报道。从此行为艺术以正面的形象在中国大陆粉墨登场。这次活动邀请了中国和美国近10位艺术家参与。中国艺术家尹秀珍、曾循、戴光郁的作品备受关注。成都也因此成为了行为艺术的前沿阵地。 </p>
            <br/>
        </div>
    </ion-content>
</ion-view>