<ion-view>
    <ion-content scroll="false">
        <img class="shadow" src="img/shadow.png" alt=""/>
        <img class="goback" src="img/back.png" ng-click="goBack()" alt=""/>
        <div class="wall_content">
            <center><h3>风格派</h3></center>
            <p>风格派作为艺术各种学派的一种，不仅关心美学，也努力更新生活与艺术的联系。</p>
            <p>风格派产生于第一次世界大战期间。艺术家们看到了社会的矛盾和混乱，看到了资本主义社会的腐朽。他们不懂得社会发展的规律，误以为用精神和艺术可以来拯救社会，可以用几何的﹑规则的抽象线条与色彩来建立一个精神王国，以取代资本主义世界。所以说，风格派的思想基础是唯心主义和空想社会主义。</p>
            <p>把传统的建筑、家具和产品设计、绘画、雕塑的特征完全剥除，变成最基本的集合结构单体，或者称为元素。把这些几何结构单体进行结构组合，形成简单的结构组合，但在新的结构组合当中，单体依然保持相对独立性和鲜明的可视性。对于非对称行的深入研究于运用。非常特别地反复应用横纵几何结构和基本原色和中性色。以上几点特征可以很清晰的从蒙德里安的作品中看出。</p>
            <p>风格派的作品虽然没有可理解的主题，常冠以“构图第X号”之类的名称。但这些作品有其深层次的内涵与意义，它们体现了大多数欧洲人民渴望和谐与平衡的心态。蒙德里安认为，只要普遍的和谐还未成为日常生活中的现实，那么绘画就能提供一种暂时的代替。风格派出现于荷兰并非偶然，它与人类征服自然的“荷兰精神”和宣扬克制与纯洁的荷兰清教传统相一致。有人认为四四方方的田野、笔直的道路和运河这种人工的荷兰景色是风格派绘画中隐匿的主题，这种说法未免有些牵强，但风格派艺术确实以一种几何和精确的方式表达了人类精神支配变化莫测的大自然的胜利，以及寓美于纯粹与简朴之中的思想。</p>
            <img class="content_img" src="img/ziliao/3/5/doc_1.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/5/doc_2.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/5/doc_3.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/5/doc_4.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/5/doc_5.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/5/doc_6.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/5/doc_7.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/5/doc_8.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/5/doc_9.jpg" alt=""/>
            <br/>
        </div>
    </ion-content>
</ion-view>