<ion-view>
    <ion-content scroll="false">
        <img class="shadow" src="img/shadow.png" alt=""/>
        <img class="goback" src="img/back.png" ng-click="goBack()" alt=""/>
        <div class="wall_content">
            <h2>波普艺术</h2>

            <h3>概述</h3>

            <p>又称新写实主义，因为波普艺术通常被视为“流行的、时髦的”一词（popular）的缩写。它代表着一种流行文化。</p>

            <p>在美国现代文明的影响下而产生的一种国际性艺术运动，多以社会上流的形象或戏剧中的偶然事件作为表现内容。它反映了战后成长起来的青年一代的社会与文化价值观，力求表现自我，追求标新立异的心理。</p>

            <h3>国内波普绘画的代表性油画家：</h3>

            <p>方力钧、魏光庆、刘晓东等</p>

            <p>
                中国的波普艺术家更强调对各种具有历史与政治含义符号的借用，从而揶揄历史与政治的神话。九十年代的波普艺术家主要分布在湖北与上海，。比较有影响的艺术家有魏光庆、杨国辛、袁小舫、李山、余友涵、刘大鸿等。波普艺术的大气候在中国如今已成为过去，但波普式的文化态度与思惟方式却延伸到了许多艺术家那里。这一点，只要人们看看许多当代油画家——包括张晓刚、尚扬以及西南片的第五代艺术家的作品，就会明显体会得到。 </p>

            <h2>中国波普艺术代表作品：</h2>

            <h3>图书《大批判——可口可乐》王广义 ：</h3>

            <p>
                他把文化大革命时期有着浓厚政治色彩的工农兵大批判图像，直接与现实生活中最具商业流行意味的可口可乐符号相并置，从而向人们直陈出我们这个消费时代的真实存在。在具体的表现上，王广义尽可能剔除了所谓的“绘画性”，也就是说，通过工业用磁性油漆在画布上大面积的平涂处理，使作品具有了一种前所未有的视觉冲击力。而用橡皮图章盖上的数字符号则很好强调了时代特征。由于对我们这个时代变化的极端敏感，也由于王广义运用波普艺术的观念成功处理了红色经验，所以使《大批判》系列当之无愧地站在了中国当代艺术的前沿。 </p>

            <h3>《红墙——家门和顺》魏光庆：</h3>

            <p>
                千年以来的传统封建伦理道德，对中国人的性格心理产生了意义深远的重要影响，而这种潜移默化的心理结构，在当代商品经济的大潮汹涌袭来时却显示出了它的无所适从性。魏光庆目光敏锐地察觉到了这一变化，因此在《红墙——家门和顺》中，他机智地将取自《朱子治家格言》图像与具有禁锢隔阂意义的红墙并置，结果使作品传达出一种反思传统文化的深刻含义。不同于艺术家王广义所创作的“政治波普”，魏光庆以其独特的文化针对性而被称为“文化波普”。 </p>

            <h3>《毛主席和韶山农民谈话》余友涵：</h3>

            <p>画面用波普的方式处理了六十年代的经典照片，目的是要让人们从新的角度、新的方式看待那些已经神话了的历史性效果。在具体的表现上，他一边将来自民间的画法与西方的硬边画法相结合，一边在画中安排了不少花朵，这不但使画面通俗易懂，也极有中国意味。批评家沃夫格•波尔曼认为他的艺术是中国式的波普艺术。</p>
            <p>波普艺术不是以“作品”的形式来确证自己的存在的，至少，它不是被审美性地欣赏，它也用不着有以往作为一个艺术家所必需的绘画或造型技艺，它不可作为某种范本供学习者临摹，它经过大批量印刷丝毫不会造成效果的衰减，它的原作收藏不具有艺术价值，甚至它作为一种行为瞬间就消逝了，等等。事实上，波普艺术只是一种“现象”，这种现象智慧地向人们传达了某种意义，而这个意义只是更集中、更强烈地加深了政治的、经济的、社会的、文化的等各方面已经存在的某种观念或道理</p>
            <br/></div>
    </ion-content>
</ion-view>