<ion-view>
    <ion-content scroll="false">
        <img class="shadow" src="img/shadow.png" alt=""/>
        <img class="goback" src="img/back.png" ng-click="goBack()" alt=""/>
        <div class="wall_content">
            <h2>装置艺术</h2>
            <p>装置艺术，是指艺术家在特定的时空环境里，将人类日常生活中的已消费或未消费过的物质文化实体、进行艺术性地有效选择、利用、改造、组合，以令其演绎出新的展示个体或群体丰富的精神文化意蕴的艺术形态。简单地讲，装置艺术，就是“场地+材料+情感”的综合展示艺术。装置艺术的发展如同其它艺术发展的景况一样，都是受当下多种单一与复合的观念所左右的，也受其自身发展经验的积累所促动。装置艺术日渐在内容关注、题材选择、文化指向、艺术到位、价值定位、情感流向、操作方法等方面，都呈现出多元繁复的状态。但从其总体来看，装置艺术的固有特征并没有朝令夕改。 </p>
            <h3>装置艺术在中国</h3>
            　　<p>装置艺术在中国是20世纪80年代才开始被认识和兴起的。因为，美国著名的波普艺术家劳申柏格曾于80年代来中国美术馆办了一次展览。由此点燃了中国艺术家对装置艺术形态的兴趣火种。以致经过十多年的探索、实践发展，装置艺术越来越不仅为众多的中国艺术家和民众所认识、理解、认可与接受。而且，"装置艺术在90年代前期的中国美术中，已作为极有实力和潜力的艺术形式，积极的、深刻的表现着世界之今日中国之今日以及个人之今日"。装置艺术在中国的发展，也有其内在的因素。一方面，当代国际艺术的整体性发展对中国艺术家的刺激和推动。 </p>
            　　<p>另一方面，中国社会实行改革开放以后，经济发达、国人生活水平提高、综合国力增强，社会结构中的某些方面的观念也呈现出工业或后工业社会的情势。所以，装置艺术在中国还是有了长足的发展。中国装置艺术家在装置艺术探索中，分别对当下经验、文化迁徙、观念派生等方面均作出了较有深度的挖掘与表现。而在艺术形式方面分别对分析的立体主义以来的，特别是针对后现代艺术中多元的形式进行探索，并将中国当代精神注入其中进行有机的媒合与升华。由此可见，在逐渐推进工业化发展的中国，在材料、特质越来越现代化并日趋丰富之同时，人们的观念变迁、文化取向、生活态度与方式必将日趋现代意义上的多元化。为此，作为进入工业社会的国度里，将艺术“走向物化”对于中国美术而言已不再遥远。同时，在一个创造物质、追求物质、享用物质的现状与前景中，综合材料与装置艺术必将越来越快地取代中国探索性艺术中领衔主角之地位。如果是这样，那么，待到中国的经济与欧美的经济相近之期，首先与世界艺术直接交流与媲美的艺术形式，那亦必推动综合材料与装置艺术。因为，综合材料与装置艺术不但对中国美术发展具有前景，对于世界美术发展同样具有前景。 </p>
            　　<p>装置艺术是自1910年马赛尔·杜尚(Marcel Duchamp )的现成品艺术以来不断演进、几乎可称主流性的当代艺术样式之一。中国自80年代中期部分前卫艺术家掀起装置艺术热以来，几经波折而持续未绝。进入90年代，也由模仿引进转入本土创造和融入社会、自出心杼的中国化新阶段。很难仍以80年代的眼光说今日装置艺术在中国仍然是机械移植、文化超前、无法与读者沟通的洋杂耍。例如，王天德将宣纸墨染后铺陈于桌、椅、笔砚、酒瓶等的“水墨菜单”，宫林将碗碟鞋子等裱糊以旧报纸组合而成的“媒体”等作品，都有着较为明显的民间性、地域性、现代化和文化深度;而不啻为大型装置艺术的邸乃壮的“大地走红”1994年开始在许多大中城市公园巡展，旅美华人陈强主持的“黄河的渡过”综合艺术活动的各段水样陈列于山东的黄河水体工程纪念碑，这些又都佐证着装置艺术等综合艺术并非是与中国格格不入的洋摆设，而是有现实可接受度的。 </p>
            　　<p>装置艺术是当代中国现代前卫艺术中重要的艺术样式。装置艺术的美学特征正是以对传统艺术的反诘与超越为其特征。主要表现为:超越艺术与客体世界;艺术与观众二元对立的弥和性;艺术家的设计、作品的自足、观众的参与三位一体的艺术活动性;意义阐释上超越有限生活意象的多义性;社会参与、反思与批判性等。装置艺术因多采取生活用品和工业品等而与大众生活意象相联系;以其对大众生活意象的反诘与超越而获得了大众化和贵族化的双重品格。但装置艺术也有着非艺术化、生活化、品味低俗的负面可能。杜绝肤浅，走向深沉与文化性，是作为观念化艺术的中国当代装置艺术的应有取向。</p>
            <br/>
        </div>
    </ion-content>
</ion-view>