<ion-view>
    <ion-content scroll="false">
        <img class="shadow" src="img/shadow.png" alt=""/>
        <img class="goback" src="img/back.png" ng-click="goBack()" alt=""/>
        <div class="wall_content">
            <h2>照相写实主义</h2>
            <p>照相写实主义(Photorealism),20世纪70年代兴起于美国的艺术流派,又名超级写实主义(Hyperrealism)。其主要特征是利用摄影成果做客观﹑逼真的描绘。R.马丁在1974年的超级写实主义展览的目录中写道:“超级写实主义把人置于照相机的视线下,很客观地把物体的影象呈现出来。”这些画家先制作平面的(两度空间的)照片形象,然后再把这两度平面的形象移植到画布上来。照相写实主义根据现代哲学中的距离论的观念,认为传统的写实主义是注入了作者的主观激情的,是一种主观的写实或人文的现实,为观众了解的可能性较小,而不含主观感情﹑用大家共同的眼睛(照相机)来观察和反映,则能为更多的群众所了解,传达的范围也就更普遍。因此,照相写实主义的作品使人感到严峻﹑冷漠,有自然主义的味道。但作为美术运动,照相写实主义也含有积极的因素:利用照相机拍摄照片,可以把充满着光和运动的现代城市的景象凝聚在一瞬间；照相写实主义的作品常常把对象放大到5～10倍,改变日常事物的尺寸,造成一种异乎寻常的美学和心理效果。此外,具有严峻和冷漠感的形象,能传达出当代西方社会人与人之间的疏远﹑冷漠和无人情味,并且为商业广告开辟出一条新的途径。</p>
            　　<p>此外，照相写实主义画家们有意隐藏了一切个性、情感、态度的痕迹，不动声色地营造画面的平淡和漠然。这种表面的冷漠之下，其实包含了某种对社会的观念，它反映的是后工业社会中，人与人之间精神情感的疏离和淡漠。 </p>
            <h2>超级写实主义</h2>
            <p>超级写实主义（Hyperrealism，又称高度写实主义），是绘画和雕塑的一个流派，其风格类似高分辨率的照片。超级写实主义可以看作是照相写实主义（Photorealism）的发展。自2000年代早期以来，该术语在美国和欧洲作为一个独立的艺术运动和艺术风格发展起来。</p>
            <p>超级写实主义作品更多地关注细节和对象。超级写实主义绘画和雕塑作品并不是照片的严格诠释，也不是某一个场景或主题的文字插图。相反，它们利用其他的，往往是微妙的绘画元素来创造实际上不存在或者人的眼睛不能看到的现实幻觉。此外，它们可能包括情感、社会、文化和政治主题要素作为视觉错觉的扩展，与照相写实主义有所不同。 超级写实主义作品对象包括画像、具象艺术、景物、风景、城市风景和叙事场面。近期由于对细节的描写和对社会、文化或者政治主题重视，超级写实主义风格比照相写实主义更加文学性。新的照相写实主义延续避免照片异常，因此两者形成鲜明对比。超级写实主义画家模拟并提高精确的摄影照片，在社会和文化的背景下，使之产生有光学说服力的现实幻象。 </p>
        <br/>
        </div>
    </ion-content>
</ion-view>