<ion-view>
    <ion-content scroll="false">
        <img class="shadow" src="img/shadow.png" alt=""/>
        <img class="goback" src="img/back.png" ng-click="goBack()" alt=""/>
        <div class="wall_content">
            <center><h3>构成主义</h3></center>
            <p>构成主义是指由一块块金属、玻璃、木块、纸板或塑料组构结合成的雕塑。强调的是空间中的势(movement)，而不是传统雕塑着重的体积量感。构成主义接受了立体派的拼裱和浮雕技法，由传统雕塑的加和减，变成组构和结合；同时也吸收了绝对主义的几何抽象理念，甚至运用到悬挂物和浮雕构成物，对现代雕塑有决定性影响。</p>
            <p>构成主义者认为：所有艺术家应该「进入工厂，在那里才有真实的生命。」艺术同时也将为构筑新社会而服务。因此，传统提供愉悦经验的艺术概念必须被抛弃；取而代之的是大量生产和工业，这与新社会和新政治秩序是密不可分的。</p>
            <p>构成主义对于工业设计的重要意义为：他们的目的是将艺术家改造为「设计师Designers」。但是这是以我们可以理解的语句所言，事实上，在当时「设计Design」的观念仍未成形，当今所谓的设计的意义并未充分浮现，因而他们采取不同的说法：「生产艺术Production Art」。</p>
            <p>俄国构成主义者高举着反艺术的立场，避开传统艺术材料，例如油画\颜料、画布，和革命前的图像。因此，艺术品可能来自于现成物，例如：林材，金属，照片，或者纸。艺术家的作品经常被视为系统的简化或者抽象化，在所有领域的文化活动，从平面设计到电影和剧场，他们的目标是要透过结合不同的元素以构筑新的现实。虽然所有的前卫俄国艺术家有着共同的热情，但是他们对于新共产主义社会里的艺术家和艺术的角色却有不同的观点。在革命后早期，他们充满热情的辩论，刺激出构成主义的不同的意识型态。</p>
            <img class="content_img" src="img/ziliao/3/6/doc_1.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/6/doc_2.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/6/doc_3.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/6/doc_4.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/6/doc_5.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/6/doc_6.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/6/doc_7.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/6/doc_8.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/6/doc_9.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/6/doc_10.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/6/doc_11.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/6/doc_12.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/6/doc_13.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/6/doc_14.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/6/doc_15.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/6/doc_16.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/6/doc_17.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/6/doc_18.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/6/doc_19.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/6/doc_20.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/6/doc_21.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/6/doc_22.jpg" alt=""/>
            <br/>
        </div>
    </ion-content>
</ion-view>