<ion-view>
    <ion-content scroll="false">
        <img id="bj_ziliao" src="img/ziliao/bj.png" alt=""/>
        <img class="shadow" src="img/shadow.png" alt=""/>
        <img class="goback" src="img/back.png" ng-click="goBack()" alt=""/>
        <div class="text_content">
            <img  src="img/ziliao/4/1.png" ng-click="text_1()" alt=""/>
            <img  src="img/ziliao/4/2.png" ng-click="text_2()" alt=""/>
            <img  src="img/ziliao/4/3.png" ng-click="text_3()" alt=""/>
            <img  src="img/ziliao/4/4.png" ng-click="text_4()" alt=""/>
            <img  src="img/ziliao/4/5.png" ng-click="text_5()" alt=""/>
        </div>
    </ion-content>
</ion-view>