<ion-view>
    <ion-content scroll="false">
        <img class="shadow" src="img/shadow.png" alt=""/>
        <img class="goback" src="img/back.png" ng-click="goBack()" alt=""/>
        <div class="wall_content">
            <center><h3>波普艺术</h3></center>
            <p>波普艺术是流行艺术（popular art)的简称，又称新写实主义，因为波普艺术（Pop Art）的POP通常被视为“流行的、时髦的”一词（popular）的缩写。它代表着一种流行文化。 在美国现代文明的影响下而产生的一种国际性艺术运动，多以社会上流的形象或戏剧中的偶然事件作为表现内容。</p>
            <p>美国波普艺术家声称他们所从事的大众化艺术与美洲的原始艺术和印第安人的艺术类似，是美国文化传统的延续和发展，1965年在密尔沃基艺术中心举办的一次波普艺术展览即以“波普艺术与美国传统”为题。</p>
            <p>英国画家理查德·汉戴尔顿曾把波普艺术的特点归纳为：普及的（为大众设计的）、短暂的（短期方案）、易忘的、低廉的、大量生产的、年轻的（对象是青年），浮华的、性感的、骗人的玩意儿，有魅力和大企业式的。</p>
            <p>波普艺术又称普普艺术，是一个探讨通俗文化与艺术之间关连的艺术运动。波普艺术试图推翻抽象艺术并转向符号，商标等具象的大众文化主题。波普艺术这个字现今已知的是1956年英国的艺术评论家罗伦斯·艾伟Laurence Alloway所提出的。</p>
            <p>波普艺术同时也是一些讽刺，市侩贪婪本性的延伸。简单来说，波普艺术是当今较底层艺术市场的前身。波普艺术家大量复制印刷的艺术品造成了相当多评论。早期某些波普艺术家力争博物馆典藏或赞助的机会。并使用很多廉价颜料创作，作品不久之后就无法保存。这也引起一些争议。1960年代，波普艺术的影响力量开始在英国和美国流传，造就了许多当代的艺术家。后期的波普艺术几乎都在探讨美国的大众文化。</p>
            <p>波普艺术其创作特征是直接借用产生于商业社会的文化符号，进而从中升华出艺术的主题。它的出现不但破坏了艺术一向遵循的高雅与低俗之分，还使艺术创作的走向发生了质的变化。</p>
            <img class="content_img" src="img/ziliao/3/2/doc_1.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/2/doc_2.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/2/doc_3.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/2/doc_4.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/2/doc_5.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/2/doc_6.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/2/doc_7.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/2/doc_8.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/2/doc_9.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/2/doc_10.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/2/doc_11.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/2/doc_12.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/2/doc_13.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/2/doc_14.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/2/doc_15.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/2/doc_16.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/2/doc_17.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/2/doc_18.jpg" alt=""/>
            <img class="content_img" src="img/ziliao/3/2/doc_19.jpg" alt=""/>
            <br/>
        </div>
    </ion-content>
</ion-view>