<ion-view>
    <ion-content scroll="false">
        <img id="bj_ziliao" src="img/ziliao/bj.png" alt=""/>
        <img class="shadow" src="img/shadow.png" alt=""/>
        <img class="goback" src="img/back.png" ng-click="goBack()" alt=""/>
        <div class="text_content">
            <img  src="img/ziliao/1/1.png" ng-click="text_1()" alt=""/>
            <img  src="img/ziliao/1/2.png" ng-click="text_2()" alt=""/>
            <img  src="img/ziliao/1/3.png" ng-click="text_3()" alt=""/>
            <img  src="img/ziliao/1/4.png" ng-click="text_4()" alt=""/>
            <img  src="img/ziliao/1/5.png" ng-click="text_5()" alt=""/>
            <img  src="img/ziliao/1/6.png" ng-click="text_6()" alt=""/>
            <img  src="img/ziliao/1/7.png" ng-click="text_7()" alt=""/>
            <img  src="img/ziliao/1/8.png" ng-click="text_8()" alt=""/>
            <img  src="img/ziliao/1/9.png" ng-click="text_9()" alt=""/>
        </div>
    </ion-content>
</ion-view>