<ion-view>
    <ion-content scroll="false">
        <img class="shadow" src="img/shadow.png" alt=""/>
        <img class="goback" src="img/back.png" ng-click="goBack()" alt=""/>
        <div class="wall_content">
            <p>现代艺术可谓是百家争鸣、百花齐放，艺术流派自由发展的时代。各个艺术流派通过各自的作品鲜明的表达自己的观点，又随着社会环境的改变或兴起或衰败。但无论时间长短，无论作品多少，他们都在人类文化发展史上画下了绚丽的色彩，对我们现在的生活产生了一定的影响。没有现代艺术流派相互之间的碰撞，就不会有我们今天丰富多彩的文化艺术。</P>
            <p>上了《艺术思潮与流派》这门课，加深了我对艺术的理解，也改变了我对艺术的看法。或者说是艺术流派中那些鲜活的人物，让我对艺术有了新的理解。法国著名作家普鲁斯特说过：“所有杰作都出自精神病患者之手”，所以我就以为，艺术是高高在上，是一种玄之又玄只有艺术家才能鉴赏的神秘物。可是很多当代的艺术家越来越走进我们的生活，走进大众，用他们的眼发现生活中的艺术，所以我们说“艺术来源于生活又高于生活”。其实只要我们带着发现美的眼睛，每个人都有可能成为艺术家，每个人都能欣赏艺术带来的快乐。</p>
            <p>我们通常理解的设计主要是指平面设计、产品设计、多媒体设计和环境设计。这些设计与我们的生活息息相关，设计改变着我们的生活，使我们的生活更美好。由于工业革命的进行，解放了社会生产力，使得机械化和大批量生产成了制造业的主流。由于科技的快速发展，使得新材料和新的生产技术大力发展。而新的材料，由其是塑料等人造合成材料，对现代设计起了重要的推动作用。此后的设计师，可以不受材质的束缚，更大胆的创作。比如，之前的设计大多是木头、布、金属等，不仅加工复杂而且色彩单调有限。现当代设计则更随心所欲，塑料加工方便，而且色彩丰富多样。</p>
            <p>在包豪斯期间，由于世界大战的影响，物资缺乏。所以包豪斯那种以功能主义为中心的设计思想为大众所接受。可是随着社会正常秩序的恢复，人们越来越不满足这种单调的几乎没有装饰的设计风格。那么，如何使大众更好的接受设计呢？</p>
            <p>首先，立体主义和未来主义都把普通批量产品作为一种艺术品来表现。杜查普买了一只廉价的铁质瓶架，称它为一件艺术品，与杜尚把小便器命名为《泉》后拿去参加艺术展览不谋而合，他们都反传统的表达了自己对艺术的理解。勒加更是直接以机械为主题，创作了《机械的要素》这幅画。他们的这些艺术作品都在一定程度上引导了大众对机械喜爱。</P>
            <p>再者，机械本身的形式是难登大雅之堂的，只有通过某些艺术的手段装饰才能改善其美感。第一是从形态上，立体主义就给了设计很好的启示，它的基本原则是用几何形来描述客观世界。毕加索就对自然的题材进行了抽象，到后来更加强烈的趋向于与机器美学相联系的几何化。这些艺术形式帮助设计师把纯机械的东西进行美化，抽象化，使得大众更好的接受了设计。第二是从色彩上，风格派也给了设计很好的启示。他们要求绝对的抽象，追求将线条、块面和色彩等相互冲突的元素构成整个均衡而和谐的画面。比如著名的画家孟德里安，他用最简单的几何形式和最纯粹的色彩绘制出了很多很优秀的作品，而设计师利特维尔德就从他的画里获得了启示，创作了著名的红蓝椅。</P>
            <p>在做设计的时候会遇到瓶颈，觉得进行不下去了，这个时候该怎么办？其实，对艺术的学习和研究往往能启发设计师的设计灵感。比如，在20世纪50年代的时候，当代主义蓬勃发展，在居家环境中体现出来的非正式化已经不适宜当时商业界秩序与效率的要求了。设计师们从艺术家阿尔伯斯对视幻艺术的研究上获得了灵感。视幻艺术强调黑白的几何形式构图，在产品设计上多采用圆柱体、立方体等简单的集合形状，选材上广泛采用不锈钢、镀铬金属、玻璃等工业材料。从而形成了“新现代主义”。OMK团队从这些启发中设计了很多优秀的圆桌和椅子。在我们平时做设计时多看看艺术类的书也是非常重要的，因为从里面我们可以得到很多的灵感。</p>
            <p>其实纵观设计的发展，与艺术的发展是紧密相连的。每当一个新的艺术革命或者艺术流派兴起，都会对设计产生很大的影响。每一个艺术流派都有自己鲜明的特点，他们清晰的甚至极端的表达自己对艺术的理解。这些艺术流派对设计有着非常大的促进作用。比如波普运动，它是一场广泛的艺术运动，反映了战后一代的青年力图自我表现、追求标新立异的心理。他使得当时的设计强调新奇和独特，大胆的采用丰富的色彩。虽然它没有经历很长的时间，但他对色彩利用和表现形式方面对设计领域如吹进了一股新鲜空气一样，影响深远。</p>
            <p>艺术家的精神是非常可贵，值得设计师学习的。他们不在乎世人看他们的眼光，不在乎生活的贫苦，能忍受精神上的寂寞。比如美籍台裔艺术家谢德庆，他的五件一年艺术使我非常敬佩。特别是将自己监禁在木笼子里一年不阅读不写作不听收音机不看电视；打卡一年，一天24次；在室外生活一年而不进入任何建筑物……每次我都会想，是什么样的力量让他忍受寂寞，几乎与世隔绝的生活一年；他是怎样度过不能睡一次好觉的365天；如何忍受纽约的寒冷？我想，这就是艺术家忍受寂寞、坚持不懈的精神吧。</p>
            <br/>
        </div>
    </ion-content>
</ion-view>