<ion-view>
    <ion-content scroll="false">
        <img class="shadow" src="img/shadow.png" alt=""/>
        <img class="goback" src="img/back.png" ng-click="goBack()" alt=""/>
        <div class="wall_content">
            <h2>八五新潮</h2>
            <p>八五新潮并不仅仅是一场前卫美术运动， 85新潮业和其他领域的艺术在大的文化理想上是一致的，就是觉得以前的艺术都不是一种真正的艺术本身的先锋实践和语言实验，而这一代人要完成这个使命。</p>
            <p>有论者认为八五新潮美术运动“是一次事件，一次革命”；是一次非常有力度的思想启蒙运动，同时，它也是一场有价值的艺术运动。</p>
            <h3>85美术运动</h3>
            <p>85美术运动是一个具有极强的行动意识的群体活动。这一代艺术家是文化大革命以后进入学院受教育的，他们接受西方现代文化和艺术的机会更多。他们的作品和艺术思想有明显的西方现代主义和后现代主义倾向。对于文革后刚刚开始习惯了印象派、后期印象派的艺术观众(也包括绝大部分艺术家)，他们的宣言和展览里挟着达达和超现实主义、表现主义的激烈言辞与暴烈形式犹如洪水猛兽冲向社会。加上他们的挑战性、反抗性，这些活动有的往往在刚刚开展几小时即被关闭。青年学生和知识分子是最能理解他们的基本观众。他们不一定真懂他们的作品本身，但认同其新的开放意义
                。 </p><br/>
        </div>
    </ion-content>
</ion-view>